<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
  <div class="mr-auto">
  <a class="navbar-brand btn" href="#"><i class='bx bxl-linkedin'></i> </a>
  <a class="navbar-brand btn" href="#"><i class='bx bxl-github' ></i></a>
  <a class="navbar-brand btn" href="#"><i class='bx bxl-google'></i></a>
</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav pr-5 ml-auto">
      <li class="nav-item">
        <a class="nav-link btn" routerLink="/" routerLinkActive="active">About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" href="#">Blogs</a>
      </li>
    </ul>
  </div>
</div>
</nav>