<div class="footer">
    <div class="container p-5 text-center text-white">
        <h4>Interested in hiring me for your project?</h4>
        <p>Looking for an experienced full-stack developer to build your web app or ship your software product? To start
            an initial chat, just drop me an email <a class="text-warning" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=saikiran1298@gmail.com" target="_blank" >saikiran1298@gmail.com</a>  at or use the form on the <a routerLink="/contact" class="text-warning">contact</a> page.</p>
    </div>
</div>
<div class="copyright text-center p-1 bg-dark text-white">
    Copyright © 2020, Skartz
</div>