.jumbotron{
    background-color: rgb(65, 164, 245, 0.9);
}

.hireMe{
    background-color: rgba(22, 101, 197, 0.9);
    color: white;
}

.hireMe:hover{
    background-color: rgba(4, 62, 134, 0.9);
}

#skillsContent{
    background-color: whitesmoke;
}

#skillsList{
    list-style-type: square;
} 

.skillsBlock{
    background-color: white;
    margin: 20px;
}

.skills{
    padding: 5px;
}

.skillsLogo{
    font-size:50px;
}

.projectCards{
    transition: transform .2s;
    width: 18rem;
    height: 18rem;
    margin-bottom: 20px;
}

.projectCards:hover{
    transform: scale(1.05);
}

#certificationContent{
    background-color: whitesmoke;
}