<div class="jumbotron" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 ml-3">
                <img src="assets/profile.png" height="220px">
            </div>
            <div class="col text-white pt-4">
                <span>Hello, My name is</span>
                <h1> Sai Kiran Pocham </h1>
                <p class="d-flex justify-content-center">
                    I'm a full-stack developer specialised in frontend and backend development for complex scalable web
                    apps. I write about web development on my blog and regularly speak at various web conferences and
                    meetups. Want to know how I may help your project? Check out my project case studies and resume.
                </p>
                <a class="btn hireMe" routerLink="/contact" fragment="contactForm"> Hire Me</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="skills">
        <h3 class="p-5 text-center" id="title"> Skill Overview </h3>
        <p class="pb-3 text-center">
            I have more than 2 years' experience building rich web applications for clients all over the world. Below is
            a quick overview of my main technical skill sets and tools I use. Want to find out more about my experience?
            Check out my online resume.
        </p>
        <div class="container" id="skillsContent">
            <div class="skillsBlock">
                <div class="skillsLogo rounded-circle text-center">
                    <img class="" src="assets/pngegg.png" height="50px">
                </div>

                <p class="h5 text-center">Frontend</p>
                <ul class="text-left" id="skillsList">
                    <li class="skills">Angular 8</li>
                    <li class="skills">Bootstrap 4</li>
                    <li class="skills">Angular Material</li>
                    <li class="skills">HTML</li>
                    <li class="skills"> CSS</li>
                    <li class="skills"> Sass</li>
                </ul>
            </div>
            <div class="skillsBlock">
                <div class="skillsLogo rounded-circle text-center">
                    <i class='bx bx-data'></i>
                </div>
                <p class="h5 text-center">Backend</p>
                <ul class="text-left" id="skillsList">
                    <li class="skills"> Node Js</li>
                    <li class="skills"> Express Js</li>
                    <li class="skills"> Javascript ES6</li>
                    <li class="skills"> Python 3</li>
                    <li class="skills"> MongoDb</li>
                </ul>

            </div>

            <div class="skillsBlock">
                <div class="skillsLogo rounded-circle text-center">
                    <i class='bx bx-server'></i>
                </div>
                <p class="h5 text-center">Server</p>
                <ul class="text-left" id="skillsList">
                    <li class="skills"> Github</li>
                    <li class="skills"> GitLab</li>
                    <li class="skills"> Heroku</li>
                    <li class="skills"> AWS</li>
                    <li class="skills"> GCP </li>
                </ul>

            </div>
            <div class="skillsBlock">
                <div class="skillsLogo rounded-circle text-center">
                    <i class='bx bx-layer-plus'></i>
                </div>
                <p class="h5 text-center">Other</p>
                <ul class="text-left" id="skillsList">
                    <li class="skills">Docker</li>
                    <li class="skills">Travis CI</li>
                    <li class="skills">Git</li>
                    <li class="skills">Jira</li>
                    <li class="skills">Postman</li>
                    <li class="skills">Slack</li>
                    <li class="skills">CI-CD Pipelines</li>
                    <li class="skills">MS Office</li>
                </ul>
            </div>


        </div>
</div>

<div class="container-fluid" id="projects">
        <h3 class="p-5 text-center" id="title"> Projects</h3>

        <div id="projectContent">

            <a class="card projectCards" href="http://healthintel.herokuapp.com/" target="_blank">
                <img class="card-img-top" src="assets/healthIntelLogo.jpg" height="200px" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"> Health Intel </p>
                </div>
            </a>

            <a class="card projectCards" href="https://sp2728.github.io/MirrosDesigners/" target="_blank">
                <img class="card-img-top" src="assets/Mirros.jpg" height="200px" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"> Mirros Design </p>
                </div>
            </a>

            <a class="card projectCards" href="http://volunteerrealm.herokuapp.com/" target="_blank">
                <img class="card-img-top" src="assets/volunteerRealmLogo.jpg" height="200px" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"> Volunteer Realm </p>
                </div>
            </a>

            
            <div class="card projectCards">
                <img class="card-img-top" src="assets/skartzLogo.png" height="200px" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"> Skartz Logistics Management and
                        POS </p>
                </div>
            </div>


        </div>

</div>

<div class="container-fluid" id="certification">
        <p class="p-5 text-center" id="title"><i class='bx bxs-certification'></i> Certifications </p>

        <div id="certificationContent">
            <div class="card" >
                <ul>
                    <li> Front-End JavaScript Frameworks: Angular</li>
    
                    <li>Front-End Web UI Frameworks and Tools: Bootstrap 4</li>
    
                    <li>Server-side Development with NodeJS, Express and MongoDB</li>
    
                    <li>AWS Fundamentals: Going Cloud-Native</li>
    
                    <li>Google Cloud Platform Fundamentals: Core Infrastructure</li>
    
                    <li>Agile with Atlassian Jira</li>
                </ul>
            </div>
        </div>
</div>

<div class="container-fluid" id="experience">
        <h3 class="p-5 text-center" id="title"> Experience </h3>
        <div id="experienceContent">
        <div class="card">
            <span id="experienceTitle"> Itversity Inc., Hyderabad, India</span>
            <div id="experiencePosition">
                <span class="font-weight-bold h5"> Software Engineer Intern</span> 
                <span class="font-weight-bold">Jan 2020 - Oct 2020</span>
            </div>
            <div class="container">
                <ul>
                    <li>Developing the web applications using technologies like Angular 6, Bootstrap 4, Node Js, Express
                        Js, MongoDb.</li>
                    <li>Working with backend developer in the process of building the RESTFul API’s.</li>
                    <li>Taking an active an active role in structuring the single page applications to make them easy
                        to maintain and to ensure they are highly modularised.</li>
                    <li>Working with the test engineering team to assure the product quality.</li>
                    <li>Working in Agile environment with regular sprint meetings and project releases.</li>
                </ul>
            </div>
        </div>
    </div>
</div>