<div class="jumbotron mb-0" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 ml-3">
                <img src="../../assets/profile.png" height="220px">
            </div>
            <div class="col text-white pt-4">
                <span>Hello, My name is</span>
                <h1> Sai Kiran Pocham </h1>
                <p class="d-flex justify-content-center">
                    I'm a full-stack developer specialised in frontend and backend development for complex scalable web
                    apps. I write about web development on my blog and regularly speak at various web conferences and
                    meetups. Want to know how I may help your project? Check out my project case studies and resume.
                </p>
                <a type="button" class="btn hireMe" routerLink="/contact"> Hire Me</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="skillsContent">
    <div class="container text-center p-5">
        <h3 class="mb-3"> Skill Overview </h3>
        <p class="d-flex justify-content-center">
            I have more than 8 years' experience building rich web applications for clients all over the world. Below is
            a quick overview of my main technical skill sets and tools I use. Want to find out more about my experience?
            Check out my online resume.
        </p>

        <div class="row">
            <div class="col-lg skillsBlock">
                <div class="skillsLogo rounded-circle ">
                    <img class="" src="../../assets/pngegg.png" height="50px">
                </div>
    
                <p class="mt-2 mb-3 h5">Frontend</p>
                <ul class="text-left" id="skillsList">
                    <li class="skills">Angular 8</li>
                    <li class="skills"> Flask</li>
                </ul>
            </div>
            <div class="col-lg skillsBlock">
                <div class="skillsLogo rounded-circle ">
                    <i class='bx bx-data' ></i>
                </div>
                <p class="mt-2 mb-3 h5">Backend</p>
                <ul class="text-left" id="skillsList">
                    <li class="skills"> Node Js</li>
                    <li class="skills"> Python </li>
                </ul>

            </div>
            <div class="col-lg skillsBlock">
                <div class="skillsLogo rounded-circle ">
                    <i class='bx bx-layer-plus'></i>
                </div>
                <p class="mt-2 mb-3 h5">Other</p>
                <ul class="text-left" id="skillsList">
                    <li class="skills">Amazon Web Services</li>
                    <li class="skills"> Google Cloud Platform </li>
                </ul>
            </div>


        </div>
    </div>
</div>