<div class="container-fluid mb-0" id="section-1">
    <div class="container p-5">
        <p class="h2 text-white font-weight-bolder"> Contact </p>
    </div>
</div>

<div class="container-fluid" id="section-2">

    <div class="row pt-5">
        <div class="col text-center">
            <img src="assets/profile.png" class="rounded-circle" height="100px">
        </div>
    </div>

    <div class="container pt-5 pb-5 text-center">
        <div class="card p-5 shadow">
            <p class="text-center">
                I'm currently taking on freelance work. If you are interested in hiring me for your project please use
                the
                form below to get in touch. Want to know how I work and what I can offer? Check out my project case
                studies
                and resume.
            </p>
            <p class="text-center font-weight-bold">
                You can also find me on the following channels
            </p>
            <p class="text-center">
                <a class="navbar-brand btn rounded-circle text-white" href="https://www.linkedin.com/in/saikiran1298/" target="_blank" id="linkedin"><i class='bx bxl-linkedin'></i> </a>
                <a class="navbar-brand btn rounded-circle text-white" href="https://github.com/sp2728" target="_blank" id="github"><i class='bx bxl-github' ></i></a>
                <a class="navbar-brand btn rounded-circle text-white" href="https://medium.com/@saikiran1298" target="_blank" id="medium"><i class='bx bxl-medium' ></i></a>                
            </p>
        </div>
    </div>

    <div class="container pt-3 pb-5" id="contactForm">
        <p class="h2 font-weight-bolder pb-3 text-center font-italic"> Get In Touch </p>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" >
            <div class="row">
                <div class="col-lg form-group">
                    <input class="form-control" formControlName="name" type="text" placeholder="Name" required>
                    <span class="text-danger" *ngIf="contactForm.get('name').hasError('required') && submitted">Name is required</span>
                </div>
                <div class="col-lg form-group">
                    <input class="form-control" formControlName="email" type="email" placeholder="Email" required>
                    <span class="text-danger" *ngIf="contactForm.get('email').hasError('required') && submitted">Email is required</span>
                    <span class="text-danger" *ngIf="contactForm.get('email').hasError('email') && submitted">Email is not in valid format</span>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" formControlName="message"  placeholder="Your message" rows="10" required></textarea>
                <span class="text-danger" *ngIf="contactForm.get('message').hasError('required') && submitted">Message is required</span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary text-white form-control"  data-toggle="modal" data-target="#exampleModal"> Submit </button>
            </div>
        </form>

        <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body">
          <div *ngIf="loading" class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
          </div>
          <div *ngIf="!loading" class="text-center">
              I have received your message. I will reach you shortly.
          </div>
        </div>
      </div>
    </div>
  </div>
        

    </div>

</div>