#section-1{
    background-color: rgb(65, 164, 245, 0.9);
}

#section-2{
    background-color: whitesmoke;
}

#linkedin{
    background-color: #0E76A8;
}

#google{
    background-color:#ea4335;
}

#github{
    background-color:black
}

#medium{
    background-color:#34a853;
}